@use "../abstracts/index" as *;

@mixin text-color($name, $color) {
  .text-#{$name} {
    color: $color !important;
  }
}

@each $name, $color in $colors {
  @include text-color($name, $color);
}


$text-sizes: (xs: 0.75rem, sm: 0.875rem, md: 1rem, lg: 1.25rem, xl: 1.5rem, xxl: 2rem);
$text-weights: (light: 300, normal: 400, medium: 500, bold: 700);
$text-aligns: (left: left, center: center, right: right, justify: justify);
$text-transforms: (uppercase, lowercase, capitalize);

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-break {
  word-wrap: break-word;
  word-break: break-word;
}

@each $size, $value in $text-sizes {
  .text-#{$size} {
    font-size: $value !important;
  }
}

@each $weight, $value in $text-weights {
  .fw-#{$weight} {
    font-weight: $value !important;
  }
}

@each $align, $value in $text-aligns {
  .text-#{$align} {
    text-align: $value !important;
  }
}

@each $transform in $text-transforms {
  .text-#{$transform} {
    text-transform: $transform !important;
  }
}

.sub-text{
  font-size: 0.8rem;
  color:gray;
}