$colors: (
  primary: var(--primary-color),
  secondary: var(--secondary-color),
  success: var(--success-color),
  danger: var(--danger-color),
  warning: var(--warning-color),
  info: var(--info-color),
  light: var(--light-color),
  dark: var(--dark-color)
);