@use "sass:map";
@use "../abstracts/index" as *;

$accordion-bg: map.get($mainColor, background);
$accordion-color: map.get($mainColor, text);
$accordion-title-color: map.get($mainColor, text);
$accordion-btn-color: map.get($mainColor, text);
$accordion-expanded-height: 200px;

.accordion {
  --accordion-bg: #{$accordion-bg};
  --accordion-color: #{$accordion-color};
  --accordion-title-color: #{$accordion-title-color};
  --accordion-btn-color: #{$accordion-btn-color};
  --accordion-expanded-height: #{$accordion-expanded-height};
  
  display: block;
  box-sizing: border-box;
}

.accordion-item {
  background: var(--accordion-bg);
  color: var(--accordion-color);
}

.accordion-header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
}

.accordion-title {
  font-weight: 480;
  font-size: 20px;
  margin: 0;
  z-index: -1;
  color: var(--accordion-title-color);
}

.accordion-toggle-btn {
  margin-left: auto;
  background: transparent;
  font-size: 25px;
  border: none;
  transition:all 0.5s ease-in-out;
  z-index: 1;
}

.accordion-body {
  
  max-height: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height 0.3s ease-out;
}

.accordion-item {
  &.open {
    .accordion-body {
      max-height: var(--accordion-expanded-height);
    }
    
    .accordion-toggle-btn {
      transform: rotate(-180deg);
    }
  }
}