@use "sass:map";
@use "../abstracts/index" as *;

.btn {
  --btn-color: $colors;
  --btn-bg: transparent;
  --btn-border-color: var(--btn-bg);
  border: 1px solid var(--btn-border-color);
  background: var(--btn-bg);
  color: var(--btn-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  &:hover {
    opacity: 0.9;
  }
  
  &:active {
    transform: scale(0.98);
  }
  
  &:disabled,
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  @each $key, $value in $colors {
    &.btn-#{$key} {
      --btn-bg: #{$value};
      --btn-color: #{map.get($colorInBgMap, $key)};
    }
    
    &.btn-outline-#{$key} {
      --btn-bg: transparent;
      --btn-border-color: #{$value};
      --btn-color: #{$value};
    }
    
    &.btn-outline-#{$key}:hover {
      --btn-bg: #{$value};
      --btn-color: #{map.get($colorInBgMap, $key)};
    }
  }
  
  &.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
  }
  
  &.btn-lg {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
  }
  
  &.btn-fullwidth {
    width: 100%;
  }
  
  &.btn-rounded {
    border-radius: 20px;
  }
  
  
  
  &.btn-icon {
    border-radius: 50%;
    padding: 0.5rem;
    font-size: 1.2rem;

    &:hover {
      background: map.get($actionColors, 'hover');
    }
  }
}

.btn-icon-group {
  display: flex;
  align-content: center;
  flex-flow: row;
  column-gap: 10px;
}