@use "sass:map";
@use "../abstracts/index" as *;

$header-bg: map.get($mainColor, background);
$header-color: map.get($mainColor, text);
$header-active-color: map.get($colors, primary);
$header-hover-bg: map.get($actionColors, hover);

.header {
  --header-bg: #{$header-bg};
  --header-color: #{$header-color};
  --header-title-color: var(--header-color);
  --header-menu-item-color: var(--header-color);
  --header-menu-item-active-color: #{$header-active-color};
  --header-menu-item-hover-bg: #{$header-hover-bg};
  --header-menu-item-hover-color: #{$header-active-color};
  
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--header-bg);
  color: var(--header-color);
  transition: box-shadow 0.4s ease;
  display: flex;
  align-items: center;
  padding: 0.5rem;

  &-items {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-left: auto;
  }
  
  &-title{
    margin: 0px;
    padding: 0.5rem;
  }
}