@use "sass:map";
@use "../abstracts/index" as *;


$list-item-color: map.get($mainColor, text);
$list-item-border-color: rgba(0,0,0,0.1) ;
$list-item-hover-bg: rgba(0, 0, 0, 0.05);
$list-item-hover-color:map.get($mainColor, text);

.list {
  --list-item-color:#{$list-item-color};
  --list-item-hover-bg:#{$list-item-hover-bg};
  --list-item-border-color:#{$list-item-border-color};
  --list-item-hover-color:#{$list-item-hover-color};
  margin: 0;
  list-style: none;
  
  &-rounded {
    border: solid 1px var(--list-item-border-color);
    border-radius: 10px;
    
    .list-item:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    
    .list-item:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    
  }
  
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  transition: background 0.3s ease-in-out;
  color: var(--list-item-color);
  
  .list-icon{
    transition: transform 0.3s ease-in-out;
  }
  
  &:hover {
    background: var(--list-item-hover-bg);
    color: var(--list-item-hover-color);
    
    .list-icon{
      transform: translateX(5px);
    }
  }
}

