@use "sass:map";
@use "../abstracts/index" as *;

$navbar-bg: map.get($mainColor, background);
$navbar-color: map.get($mainColor, text);
$navbar-active-color: map.get($colors, primary);
$navbar-hover-bg: map.get($actionColors, hover);

.navbar {
  --navbar-bg: #{$navbar-bg};
  --navbar-color: #{$navbar-color};
  --navbar-title-color: var(--navbar-color);
  --navbar-menu-item-color: var(--navbar-color);
  --navbar-menu-item-active-color: #{$navbar-active-color};
  --navbar-menu-item-hover-bg: #{$navbar-hover-bg};
  --navbar-menu-item-hover-color: #{$navbar-active-color};
  
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--navbar-bg);
  color: var(--navbar-color);
  transition: box-shadow 0.4s ease;
  
  &-header,
  &-items {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
  
  &-items {
    margin-left: auto;
  }
  
  &-btn {
    background: none;
    border: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background 0.2s ease;
    
    &:hover {
      background: var(--navbar-menu-item-hover-bg);
    }
  }
  
  &-title {
    margin: 0;
    font-weight: normal;
    color: var(--navbar-title-color);
  }
  
  &-shadow {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  @media (min-width: 48rem) {
    .navbar-toggle {
      display: none;
    }
    
    .navbar-menu-container {
      display: flex;
      margin-left: auto;
      padding: 0 0.5rem;
    }
    
    .navbar-menu {
      display: flex;
      align-items: center;
      list-style: none;
      column-gap: 1rem;
      padding-left: 0;
      
      >li {
        padding: 0.5rem 0;
        position: relative;
        
        a {
          color: var(--navbar-menu-item-color);
          text-decoration: none;
        }
        
        &:hover>ul {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
        }
        
        ul {
          opacity: 0;
          visibility: hidden;
          transform: translateY(-10px);
          transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
          
          margin-top: 0.8rem;
          position: absolute;
          background: var(--navbar-bg);
          padding: 0;
          min-width: 250px;
          max-height: 30vh;
          overflow-y: auto;
          list-style: none;
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          box-sizing: border-box;
          
          li a {
            padding: 1rem;
            color: var(--navbar-menu-item-color);
            display: flex;
            align-items: center;
            transition: background 0.3s ease-in-out;
            
            &:hover {
              background: var(--navbar-menu-item-hover-bg);
              color: var(--navbar-menu-item-hover-color);
            }
          }
        }
      }
      
      li.active {
        border-bottom: 2px solid var(--navbar-menu-item-active-color);
        
        a {
          color: var(--navbar-menu-item-active-color);
        }
      }
    }
  }
}