@use "sass:map";
@use "../abstracts/index" as *;

$offcanvas-bg: map.get($mainColor, background);
$offcanvas-color: map.get($mainColor, text);
$offcanvas-active-color: map.get($colors, primary);
$offcanvas-hover-bg: map.get($actionColors, hover);

.offcanvas {
  --offcanvas-bg: #{$offcanvas-bg};
  --offcanvas-color: #{$offcanvas-color};
  --offcanvas-title-color: var(--offcanvas-color);
  --offcanvas-menu-item-color: var(--offcanvas-color);
  --offcanvas-menu-item-active-color: #{$offcanvas-active-color};
  --offcanvas-menu-item-hover-bg: #{$offcanvas-hover-bg};
  --offcanvas-menu-item-hover-color: #{$offcanvas-active-color};
  
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: var(--offcanvas-bg);
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: hidden;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  
  display: flex;
  flex-direction: column;
  
  @media (max-width: 767px) {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    width: 35vw;
    max-width: 35vw;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  @media (min-width: 1024px) {
    width: 35vw;
    max-width: 35vw;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  &.open {
    transform: translateX(0%);
  }
  
  &-header {
    position: sticky;
    background: var(--offcanvas-bg);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  .offcanvas-body {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
  }
  
  &-footer {
    background: var(--offcanvas-bg);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  &-btn {
    background: none;
    border: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background 0.2s ease;
    
    &:hover {
      background: var(--offcanvas-menu-item-hover-bg);
    }
  }
  
  &-title {
    margin: 0;
    margin-left: 5px;
    font-weight: normal;
    color: var(--offcanvas-title-color);
  }
  
  .offcanvas-menu {
    display: flex;
    flex-flow: column;
    list-style: none;
    padding: 0;
    
    >li {
      a {
        padding: 1rem;
        display: flex;
        align-items: center;
        color: var(--offcanvas-menu-item-color);
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        cursor: none;
        border-radius: 10px;
      }
      
      &:hover>a {
        background: var(--offcanvas-menu-item-hover-bg);
        color: var(--offcanvas-menu-item-hover-color);
      }
      
      &.active {
        background: var(--offcanvas-menu-item-active-bg);
        color: var(--offcanvas-menu-item-active-color);
      }
      
      &.open>ul {
        display: block;
      }
      
      ul {
        list-style: none;
        display: none;
        
        li:hover>a {
          color: var(--offcanvas-menu-item-hover-color);
        }
      }
    }
  }
}