@use "sass:map";
@use "../abstracts/index" as *;

$progress-bar-height: 3px;
$progress-bar-value: 0%;
$progress-bar-bg: rgba(0, 0, 0, 0.06);
$progress-bar-fill: map.get($mainColor, text);
$progress-bar-text-color: map.get($mainColor, bg);
$progress-bar-transition-speed: 0.5s;

$progress-bar-sizes: (
  sm:5px,
  md:15px,
  lg:30px
);

.progress-container {
  --progress-bar-height: #{$progress-bar-height};
  --progress-bar-value: #{$progress-bar-value};
  --progress-bar-bg: #{$progress-bar-bg};
  --progress-bar-fill: #{$progress-bar-fill};
  --progress-bar-text-color: #{$progress-bar-text-color};
  --progress-bar-transition-speed: #{$progress-bar-transition-speed};
  width: 100%;
  max-width: 100%;
  outline: 3px solid transparent;
  background-color: var(--progress-bar-bg);
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  &.progress-bar-square {
    border-radius: 0px;
  }
  
  &.progress-bar-text>.progress-bar {
    line-height: calc(20px + var(--progress-bar-height));
    height: calc(20px + var(--progress-bar-height));
  }
  
  @each $size, $value in $progress-bar-sizes {
    &.progress-bar-#{$size} {
      --progress-bar-height:#{$value};
    }
  }
}

.progress-bar {
  width: var(--progress-bar-value);
  height: var(--progress-bar-height);
  line-height: var(--progress-bar-height);
  background-color: var(--progress-bar-fill);
  text-align: center;
  color: var(--progress-bar-text-color);
  font-weight: bold;
  font-size: 12px;
  transition: width var(--progress-bar-transition-speed) ease-in-out;
  
  
  @each $color, $value in $colors {
    &-#{$color} {
      --progress-bar-fill:#{$value};
    }
  }
}