@use "sass:map";
@use "../abstracts/index" as *;

$sidebar-bg: map.get($mainColor, background);
$sidebar-color: map.get($mainColor, text);
$sidebar-active-color: map.get($colors, primary);
$sidebar-active-bg:map.get($actionColors, hover);
$sidebar-hover-bg: map.get($actionColors, hover);

.sidebar-container {
  display: flex;
  flex-direction: row;
  
  .sidebar {
    flex: 30%;
  }
  
  @media (min-width: 768px) {
    
    .sidebar-icon:not(.open) {
      flex: 0 0 90px;
      width: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      box-sizing: border-box;
      
       .sidebar-expand{
         display: none!important;
       }
       
      .sidebar-body,
      .sidebar-header,
      .sidebar-footer {
        overflow: hidden;
        justify-content: center;
      }
      
      .sidebar-body {
        padding: 0;
        width: 100%;
      }
      
      .sidebar-menu a {
        border-radius: 0;
        justify-content: center;
      }
    }
    
    .contents {
      flex: 1;
    }
  }
  
  .contents {
    flex: 70%;
    max-height: 100vh;
    overflow-y: scroll;
  }
}

.sidebar {
  --sidebar-bg: #{$sidebar-bg};
  --sidebar-color: #{$sidebar-color};
  --sidebar-title-color: var(--sidebar-color);
  --sidebar-menu-item-color: var(--sidebar-color);
  --sidebar-menu-item-active-color: #{$sidebar-active-color};
  --sidebar-menu-item-active-bg: #{$sidebar-active-bg};
  --sidebar-menu-item-hover-bg: #{$sidebar-hover-bg};
  --sidebar-menu-item-hover-color: #{$sidebar-active-color};
  
  
  height: 100vh;
  background: var(--sidebar-bg);
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: hidden;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  
  @media (max-width: 767px) {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1002;
    
    &.open {
      transform: translateX(0%);
    }
  }
  
  @media (min-width: 768px) {
    width: 35vw;
    max-width: 35vw;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  
  &-header {
    position: sticky;
    background: var(--sidebar-bg);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  .sidebar-body {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    overflow-x: hidden;
  }
  
  &-items {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
  
  &-footer {
    background: var(--sidebar-bg);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  
  &-btn {
    background: none;
    border: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background 0.2s ease;
    
    &:hover {
      background: var(--sidebar-menu-item-hover-bg);
    }
  }
  
  &-title {
    margin: 0;
    margin-left: 5px;
    font-weight: normal;
    color: var(--sidebar-title-color);
  }
  
  .sidebar-menu {
    display: flex;
    row-gap: 5px;
    flex-flow: column;
    list-style: none;
    padding: 0;
    
    >li {
      a {
        column-gap: 10px;
        padding: 1rem;
        display: flex;
        align-items: center;
        color: var(--sidebar-menu-item-color);
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        cursor: none;
        border-radius: 10px;
      }
      
      &:hover>a {
        background: var(--sidebar-menu-item-hover-bg);
        color: var(--sidebar-menu-item-hover-color);
      }
      
      &.active>a {
        background: var(--sidebar-menu-item-active-bg);
        color: var(--sidebar-menu-item-active-color);
      }
      
      &.open>ul {
        display: block;
      }
      
      ul {
        list-style: none;
        display: none;
        
        li:hover>a {
          color: var(--sidebar-menu-item-hover-color);
        }
      }
    }
  }
}