@use "sass:map";
@use "../abstracts/index" as *;

$tab-item-color: map.get($mainColor, text);
$tab-item-active-color: map.get($colors, primary);
$tab-item-active-border: $tab-item-active-color;

.tabs-container {
  --tab-item-color: #{$tab-item-color};
  --tab-item-active-color: #{$tab-item-active-color};
  --tab-item-active-border: var(--tab-item-active-color);
  --tab-indicator-color: transparent;
  
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
  border-bottom: 1px solid var(--tab-indicator-color);
  padding: 0 10px;
  
  &::-webkit-scrollbar {
    display: none;
  }
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tab {
  display: inline-block;
  padding: 12px 24px;
  cursor: pointer;
  color: var(--tab-item-color);
  transition: color 0.3s;
  position: relative;
  
  &.active {
    color: var(--tab-item-active-color);
  }
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--tab-item-active-border);
  transition: left 0.3s ease, width 0.3s ease;
  border-radius:5px;
}

.tab-content{
  display: none;
  
  &.active{
    display: block;
  }
}